* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
}

li {
  padding: 0 1.25rem;
}

.container {
  padding: 0 1rem;
}

.hidden {
  display: hidden;
}

.header {
  z-index: 1
}

.nav-toggle {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}

.open {
  height: 100vh;
}

.header-white-logo {
  width: 100px;
  object-fit: contain;
}
